# Application variables.
APP_NAME=CodefyPHP
APP_VERSION=1.0.0
APP_ENV=development
APP_KEY=changeme
APP_DEBUG=false
APP_BASE_PATH=
APP_BASE_URL=localhost:8080

# Mailer configuration
MAILER_HOST=localhost
MAILER_PORT=465
MAILER_USERNAME=test@gmail.com
MAILER_PASSWORD=fakepassword
MAILER_AUTHMODE=login
MAILER_ENCRYPTION=tls
MAILER_FROM_EMAIL="${MAILER_USERNAME}"
MAILER_FROM_NAME="${APP_NAME}"
MAILER_SENDMAIL_PATH=

# Database setup.
DB_DRIVER=mysql
DB_HOST=localhost
DB_NAME=test
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_TABLE_PREFIX=
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root

# Amazon S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=
AWS_URL=
AWS_ENDPOINT=

# Logger email setup.
LOGGER_EMAIL_SUBJECT="[System Error] Logger"
LOGGER_FROM_EMAIL="${MAILER_FROM_EMAIL}"
LOGGER_TO_EMAIL=