App/Domain/Post
App/Domain/PostType
App/Domain/Site
database/migrations/.migrations.log
resources/views/*.tpl
resources/views/backend/
storage/framework/cache/*
storage/logs/*.log
vendor
.idea
.env
.env.local
.php-cs-fixer.cache
.phpunit.result.cache
composer.lock
contents.php
default.php