body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* or 100dvh for modern browsers */
}

main { /* Assuming 'main' holds your primary content */
    flex-grow: 1; /* Allows main content to expand and push footer down */
}

.form-field {
    margin: 30px 0;
    p.hint {
        font-size: 0.8em;
        float: right;
        color: #777;
    }
    p.warning {
        color: #fe3131;
    }
    p.success {
        color: #2e8b57;
    }
    p.error {
        color: #fe3131;
    }
}

.form-field.password {
    position: relative;
    button {
        position: absolute;
        top: 38px;
        right: 6px;
        background: #e4e4e4;
        border: 0;
        border-radius: 4px;
        font-size: 0.8em;
        padding: 6px;
        cursor: pointer;
    }
    input {
        padding-right: 50px;
    }
}